In [ ]:
import pandas as pd

In [ ]:
#RESTART ROWS
new_full_data = pd.read_csv("C:/Users/manor/Desktop/Final Project - Algotrading/First Developement Step/read_input_data/new_full_data.csv")
new_full_data.to_csv("C:/Users/manor/Desktop/Final Project - Algotrading/First Developement Step/read_input_data/new_full_data_test.csv", index=False)

In [47]:
# TEST MODEL INPUT
new_full_data = pd.read_csv("C:/Users/manor/Desktop/Final Project - Algotrading/First Developement Step/read_input_data/new_full_data_test.csv")
new_full_data['date'] = pd.to_datetime(new_full_data.date, dayfirst=True)
new_full_data['date'] = new_full_data['date'].dt.strftime('%d/%m/%Y')

new_full_data.loc[new_full_data['date'] == '28/11/2022', 'close_price']

2744       124.64
5489        59.76
8234       105.39
10729      158.43
13474      377.23
            ...
1311531    126.45
1314276    269.00
1317021    117.67
1319766     50.23
1322240    148.13
Name: close_price, Length: 501, dtype: float64

In [44]:
# CREATE MODEL INPUT
# generate random integer values
import numpy as np
from numpy.random import seed
from numpy.random import randint
# seed random number generator
seed(1)
# generate some integers
random_closing_prices = np.array(randint(0, 5960, 501))

stocks_by_id = pd.read_csv(
    "C:/Users/manor/Desktop/Final Project - Algotrading/First Developement Step/Edited Databases/stocks_by_id_after_editing.csv"
)
latest_dates = pd.DataFrame(data={'id' : stocks_by_id['id'], 'date' : '28/11/2022', 'close_price' : last_dates_prices.to_numpy()})

latest_dates
latest_dates.to_csv(
    "C:/Users/manor/Desktop/Final Project - Algotrading/First Developement Step/read_input_data/model_input/latest dates of stocks.csv")

In [69]:
new_day_prices = pd.read_csv(
    'C:/Users/manor/Desktop/Final Project - Algotrading/First Developement Step/read_input_data/model_input/latest dates of stocks.csv',
            index_col=0)
new_day_prices_ids = new_day_prices['id'].tolist()

paths_list = [
            f'C:/Users/manor/Desktop/Final Project - Algotrading/First Developement Step/algotrading_model/rf_models/rf_for_stock_{stock_id}_compressed.joblib'
            for stock_id in new_day_prices_ids
                    ]
for path in paths_list:
    # id = [int(id) for id in path.split(sep='_') if id.isdigit()]
    # print(id[0])
    print(int(path.split(sep='_')[5]))

67
68
69

In [71]:
new_full_data = pd.read_csv(
    "C:/Users/manor/Desktop/Final Project - Algotrading/First Developement Step/read_input_data/new_full_data.csv")
stocks_by_id = pd.read_csv(
    "C:/Users/manor/Desktop/Final Project - Algotrading/First Developement Step/Edited Databases/stocks_by_id_after_editing.csv")
ids = new_full_data['id'].drop_duplicates()
id_to_samples = {id: len(new_full_data[new_full_data["id"] == id]) for id in ids}
id_to_samples_df = pd.DataFrame({'stock name' : stocks_by_id[stocks_by_id['id'] == [id for id in id_to_samples.keys()]]['stock'], 'stock id' : id_to_samples.keys(), 'number of samples' : id_to_samples.values()})
id_to_samples_df

    stock name  stock id  number of samples
0          MMM         1               2745
1          AOS         2               2745
2          ABT         3               2745
3         ABBV         4               2495
4         ABMD         5               2745
..         ...       ...                ...
496        YUM       497               2745
497       ZBRA       498               2745
498        ZBH       499               2745
499       ZION       500               2745
500        ZTS       501               2474

[501 rows x 3 columns]

In [148]:
new_full_data[new_full_data['id']==66]

        id        date  close_price
173280  66  08/09/2017       175.50
173281  66  11/09/2017       177.87
173282  66  12/09/2017       178.63
173283  66  13/09/2017       178.92
173284  66  14/09/2017       178.57
173285  66  15/09/2017       179.89
173286  66  18/09/2017       181.47
173287  66  19/09/2017       183.01
173288  66  20/09/2017       183.82
173289  66  21/09/2017       183.16
173290  66  22/09/2017       181.86
173291  66  25/09/2017       182.52
173292  66  26/09/2017       181.86
173293  66  27/09/2017       183.27

In [73]:
new_full_data = pd.read_csv("C:/Users/manor/Desktop/Final Project - Algotrading/First Developement Step/read_input_data/new_full_data.csv")
ids = new_full_data['id'].drop_duplicates()
id_to_last_date = {}
new_full_data['date'] = pd.to_datetime(new_full_data['date'], dayfirst=True)
for id in ids:
    stock_data = new_full_data[new_full_data["id"] == id].copy()
    latest_date = stock_data["date"].max()
    id_to_last_date[id] = stock_data.loc[stock_data["date"] == latest_date, "date"].iloc[0]

id_to_last_date_df = pd.DataFrame({'id': id_to_last_date.keys(), 'last date': id_to_last_date.values()})
id_to_last_date_df['last date'].value_counts()

last date
2022-11-28    501
Name: count, dtype: int64

In [21]:
exceptional_date = '2017-09-27'
id_to_last_date_df.loc[id_to_last_date_df['last date'] == exceptional_date, 'id'].iloc[0]

66